@media screen and (max-width: 480px) {
  /* * {
    margin: 0;
  } */
  .heros-buttons-container {
    flex-direction: column-reverse;
  }
  #heros-container {
    margin-top: 0;
  }
  #heros-container h1 {
    margin-top: 0;
  }
  #hero-content.p {
    font-size: 0.9rem;
  }
  .heroimg {
    /* width: 50%; */
    max-width: 350px;
    float: none;
  }
  /* Testimonials  */
  .testimonials-heading {
    width: 350px;
  }
  .testimonials-text {
    width: 350px;
  }

  /* ---------PROJECT PAGES -------------- */
  /* Header  */

  /* Project Section  */
  #projectSection {
    margin-top: 20px;
  }
  #projectSection h1 {
    margin: 0;
    font-size: 2rem;
  }
  .project-type-wrapper {
    flex-direction: column;
  }
  .project-page-type {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 759px) {
  #heros-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
  }
  .heros-buttons-container {
    flex-direction: row-reverse;
  }
  #hero-content {
    width: auto;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  #hero-imgs {
    /* width: 50%; */
    max-width: 450px;
  }
  .cardimg {
    display: none;
  }
  /* Clients  */
  #client-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    grid-row-gap: 50px;
    margin-top: 50px;
  }
  #client-container.grid-clients img:last-child {
    display: none;
  }
  /* Projects  */
  #recentProjects h2 {
    text-align: center;
  }
  .grid-container-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .project-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project-card-img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }

  /* Testimonials  */
  .emoji {
    display: none;
  }
  #testimonials {
    height: 420px;
    margin: 50px auto 0 auto;
    max-width: 100%;
  }
  #testimonial-Container {
    height: 420px;
  }
  .testimonials-heading {
    max-width: 400px;
    text-align: center;
  }

  /* Services  */
  #services {
    margin-top: 50px;
  }
  #services h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  .grid-container-services {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .service-card {
    width: 100%;
    max-width: 90%;
    margin-bottom: 10px;
    padding: 25px;
  }

  /* Subscribe  */
  #subscribe {
    width: 100%;
    margin-top: 50px;
  }
  #email-subscribe {
    flex-direction: column;
  }
  .subscribe-textfield-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
    justify-content: center;
  }
  .subscribeBtn {
    width: 100%;
  }

  /* Footer  */

  .containerFooter {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .footer-content {
    text-align: center;
  }

  /* ---------------- */
  /* CONTACT US  */
  .contact-row-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

/* ----------------------------------------------  */

/* --------------------------------------------------  */

/* ------------------------------------------------  */

/* @media (min-width: 760px) and (max-width: 990px)  */
@media screen and (max-width: 990px) {
  /* NAVBAR  */
  .contactBtn1 {
    display: none;
  }
  .hamburger {
    display: block;
    float: right;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: relative;
    left: -100%;
    top: 100px;
    gap: 0;
    flex-direction: column;
    background-color: #ffc600;
    width: 80%;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 20px;
  }
  .nav-item {
    margin: 20px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    margin: 20px auto;
  }
  /* ------------------------------------  */
  /* Heros  */
  #heros-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  }
  .heros-buttons-container {
    flex-direction: row-reverse;
  }
  #hero-content {
    width: auto;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  #hero-imgs {
    width: auto;
  }
  /* ------------------------------------  */
  /* Clients  */
  #client-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    grid-row-gap: 50px;
    margin-top: 100px;
  }
  #client-container img:last-child {
    display: none;
  }
  /* ------------------------------------  */
  /* Projects  */

  .grid-container-projects {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto; */
  }
  /* ------------------------------------  */
  /* Testimonial  */
  .testimonials-heading {
    max-width: 400px;
    text-align: center;
  }
  #testimonials {
    height: 500px;
    margin-top: 50px;
  }
  #testimonial-Container {
    height: 500px;
  }
  /* ------------------------------------  */
  /* Services  */
  #services {
    margin-top: 50px;
  }
  #services h2 {
    margin-bottom: 40px;
  }
  /* ------------------------------------  */
  /* Subscribe  */
}
