/* ------------------------------------  */
/* --------------HAMBURGER--------------  */
/* ------------------------------------  */
@media screen and (min-width: 0px) and (max-width: 991px) {
  /* NAVBAR  */
  .contactBtn1 {
    display: none;
  }
  .hamburger {
    display: block;
    float: right;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  /* .hamburger.active .nav-logo {
    display: none;
  } */
  .nav-menu {
    position: relative;
    left: -110%;
    top: 50px;
    gap: 0;
    flex-direction: column;
    background-color: #c8c8c8;
    width: 90%;
    text-align: center;
    transition: 0.3s;
    margin-bottom: 90px;
  }
  .nav-item {
    margin: 10px 0;
  }
  .nav-menu.active {
    left: 0;
  }
  .navbar {
    margin: 30px auto;
  }
}

/* ------------------------------------  */
/* -----------1202px and more -----------  */
/* ------------------------------------  */
@media (min-width: 1202px) and (max-width: 4000px) {
  * {
    font-size: 22px;
  }

  #heros-container,
  .navbar,
  #client-container,
  #recentProjects,
  #services,
  .containerFooter {
    max-width: 80vw;
  }
  #testimonials,
  #subscribe {
    max-width: 85vw;
  }
}
/* ------------------------------------  */
/* -----------btw. 991px and 1200px -----------  */
/* ------------------------------------  */
@media (min-width: 991px) and (max-width: 1200px) {
  * {
    font-size: 17px;
  }
  #heros,
  #recentProjects,
  #testimonials,
  #services,
  footer {
    margin-top: 100px;
  }
  #heros-container,
  .navbar,
  #client-container,
  #recentProjects,
  #services,
  .containerFooter {
    max-width: 80vw;
  }
  #testimonials,
  #subscribe {
    max-width: 85vw;
  }
}

/* ------------------------------------------------  */
/* -----------btw 766px and 990 px-------------------*/
/* ------------------------------------------------  */

@media (max-width: 991px) {
  * {
    font-size: 14px;
  }
  /* Heros  */
  #heros-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  }
  .heros-buttons-container {
    flex-direction: row-reverse;
  }
  #hero-content h1 {
    margin-top: 0px;
  }
  #hero-content {
    width: auto;
    align-items: center;
    align-content: center;
    text-align: center;
  }
  #hero-imgs {
    width: auto;
  }
  /* ---------Clients---------------------------  */
  #client-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    grid-row-gap: 50px;
    margin-top: 100px;
  }
  #client-container img:last-child {
    display: none;
  }
  /* ------Projects------------------------------  */
  .grid-container-projects {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  /* -------Testimonial-----------------------------  */
  .testimonials-heading {
    max-width: 400px;
    text-align: center;
    line-height: 50px;
  }
  #testimonials {
    height: 500px;
    margin-top: 50px;
  }
  #testimonial-Container {
    height: 500px;
  }
  /* -----Services-------------------------------  */

  #services {
    margin-top: 50px;
  }
  #services h2 {
    margin-bottom: 40px;
  }
  /* ------Subscribe------------------------------  */
}

/* --------------------------------------------------------------------------------  */
/* --------------btw 481px and 765 px----------------------------------------------  */
/* --------------------------------------------------------------------------------  */
@media (max-width: 765px) {
  #heros-container h1 {
    margin-top: 0;
  }
  .cardimg {
    display: none;
  }
  /*---------- Projects ------------ */
  #recentProjects h2 {
    text-align: center;
  }
  .grid-container-projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .project-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .project-card-img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
  }

  /* -----------Testimonials -------------- */
  .emoji {
    display: none;
  }
  #testimonials {
    height: 420px;
    margin: 50px auto 0 auto;
    max-width: 100%;
  }
  #testimonial-Container {
    height: 420px;
  }
  .testimonials-heading {
    max-width: 350px;
    text-align: center;
  }
  .testimonials-text {
    max-width: 350px;
  }

  /*---------- Services------------  */
  #services h2 {
    text-align: center;
    /* margin-bottom: 40px; */
  }
  .grid-container-services {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .service-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 25px;
  }

  /* --------Subscribe --------------- */
  #subscribe {
    width: 100%;
    margin-top: 50px;
    height: 400px;
  }
  .subscribeContainer {
    height: 400px;
  }
  #email-subscribe {
    flex-direction: column;
  }
  .subscribe-textfield-wrapper {
    width: 100%;
    margin-right: 0;
    /* margin-bottom: 5px; */
    justify-content: center;
  }
  .subscribeBtn {
    width: 100%;
  }

  /* ------------Footer------------------  */

  .containerFooter {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .footer-content {
    text-align: center;
  }

  /* ---------------- */
  /* CONTACT US  */
  .contact-row-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

/* --------------------------------------------------------------------------------  */
/* --------------below 481px --------------------------------------------------  */
/* --------------------------------------------------------------------------------  */
@media (max-width: 480px) {
  * {
    font-size: 12px;
  }
  .heros-buttons-container {
    flex-direction: column-reverse;
    gap: 0;
  }
  #heros-container {
    margin-top: 0;
  }
  #heros-container h1 {
    margin-top: 0;
    /* font-size: 2rem; */
  }
  #hero-content.p {
    margin-bottom: 0;
  }
  .heroimg {
    width: 100%;
    max-width: 350px;
    /* float: none; */
  }
  /*------------ Testimonials-------------  */
  .testimonials-heading {
    width: 280px;
  }
  .testimonials-text {
    width: 280px;
  }
  /*------------ Subscribe-------------  */
  .subscribeContainer,
  #subscribe {
    height: 300px;
  }

  /* ---------PROJECT PAGES -------------- */

  /*--------- Project Section--------------  */
  #projectSection {
    margin-top: 20px;
  }
  #projectSection h1 {
    margin: 20px 0;
  }
  .project-type-wrapper {
    flex-direction: column;
  }
  .project-page-image {
    height: 300px;
    margin: 20px 0 40px 0;
  }
}
