@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  color: #6b708d;
  background-color: #f2f4fc;
  /* font-size: 10px; */
  font-family: "Roboto", sans-serif;
}
body a {
  text-decoration: none;
}
.margin-top {
  margin-top: 100px;
}
/*------------------------*/
/*------------------------*/
/* Header  */
/*------------------------*/
/*------------------------*/
/* header {
  margin-top: 50px;
  font-size: 1.2rem;
} */
/* header a {
  color: #6b708d;
  padding-right: 30px;
}
nav a:first-child {
  color: #0082f3;
} */

/* #header-container {
  display: flex;
  justify-content: space-between;
   max-width: 1100px; 
   max-width: 90%;
  margin-right: auto;
  margin-left: auto; 
  margin-top: 30px; 
}  */
header {
  margin: 0;
}
header li {
  list-style: none;
}

header a {
  text-decoration: none;
  color: #6b708d;
  font-weight: 500;
}
.nav-menu li:first-child a {
  color: #0082f3;
}
.navbar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 24px; */
  max-width: 90%;
  margin: 50px auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link:hover {
  color: black;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}
.contactBtn1,
.contactBtn2 {
  color: #ffff;
  background-color: #072ac8;
  padding: 15px 30px;
}

.contactBtn1:hover,
.contactBtn2:hover {
  background-color: #292e47;
}
/*------------------------*/
/*------------------------*/
/* Heros section  */
/*------------------------*/
/*------------------------*/
#heros-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 1100px; */
  max-width: 90vw;
  margin: 5rem auto 0 auto;
}
.heroimg {
  /* width: 40vw; */
  /* width: 500px; */
  /* width: 100%; */
  max-width: 500px;
  float: right;
}
.cardimg1 {
  position: absolute;
  left: -20%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 60%;
}
.cardimg2 {
  position: absolute;
  left: auto;
  top: auto;
  right: -25%;
  bottom: -20%;
  max-width: 60%;
}
#hero-imgs {
  width: 500px;
  position: relative;
  max-width: 100%;
  /* display: inline-block; */
}

#hero-content {
  /* width: 40vw; */
  display: flex;
  flex-direction: column;
}

#hero-content h1 {
  font-size: 3.5rem;
  /* font-size: 60px; */
  font-weight: 500;
  color: #292e47;
  width: 85%;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 30px;
}

#hero-content p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 80%;
  margin-bottom: 30px;
}

#hero-content a {
  /* font-size: 1.1rem; */
  padding-right: 20px;
}
.heros-buttons-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

/*------------------------*/
/*------------------------*/
/*Client Section*/
/*------------------------*/
/*------------------------*/
#client-container {
  display: flex;
  justify-content: space-between;
  /* max-width: 1100px; */
  max-width: 90%;
  margin: 5rem auto 0 auto;
}
.clientImg {
  width: 120px;
}

/*------------------------*/
/*------------------------*/
/*Recent Projects*/
/*------------------------*/
/*------------------------*/

#recentProjects {
  margin: 5rem auto 0 auto;
  /* max-width: 1100px; */
  max-width: 90%;
  /* display: flex;
  flex-direction: column; */
}
#recentProjects h2 {
  font-size: 2rem;
  color: #292e47;
  margin-bottom: 40px;
}

.grid-container-projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  /* column-gap: 2%; */
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; */
}

.project-card {
  /* width: 340px;
  /* width: auto; */
  /* background-color: white;
  margin-bottom: 20px;  */

  width: 100%;
  max-width: 340px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column-gap: 50px;
  /* padding: 25px; */
}

.project-card-img {
  /* width: 340px;*/
  height: 200px;
  width: 100%;
  max-width: 340px;
  object-fit: cover;
}

.project-card h4 {
  font-size: 1.3rem;
  color: #292e47;
  font-weight: 500;
  margin: 15px 25px;
}

.project-card p {
  color: #292e47;
  font-size: 1rem;
  font-weight: 400;
  margin: 0px 25px;
}

.project-card a {
  font-size: 1rem;
  margin: 40px 25px;
  display: inline-block;
}

/*------------------------*/
/*------------------------*/
/*Testimonial Section*/
/*------------------------*/
/*------------------------*/

#testimonials {
  height: 620px;
  background-color: #292e47;
  background-image: url("/project-assets/testimonial-section/orbit.png");
  background-size: contain;
  margin: 5rem auto 0 auto;
  position: relative;
  /* width: 1320px; */
  max-width: 95%;
}

#testimonial-Container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 620px;
}

.testimonials-heading {
  font-size: 2rem;
  color: #ecf7ff;

  /* max-width: 400px;
  text-align: center; */
}
.testimonials-text {
  color: #ffc600;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 500;
  line-height: 2.5rem;
}
.client {
  display: flex;
  align-items: center;
}
.client-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.client-info h4 {
  color: #a2d6f9;
  font-size: 1.1rem;
  text-align: center;
  margin: 0;
  font-weight: 400;
}
.client-info span {
  color: white;
  font-size: 0.9rem;
}

/* emojis  */
.emoji {
  width: 10vw;
}
.top-left {
  position: absolute;
  top: 8%;
  left: 8%;
}
.top-right {
  position: absolute;
  top: 8%;
  right: 8%;
}
.bottom-right {
  position: absolute;
  bottom: 8%;
  right: 8%;
}
.bottom-left {
  position: absolute;
  bottom: 8%;
  left: 8%;
}

/*------------------------*/
/*------------------------*/
/*OUR SERVICES SECTION*/
/*------------------------*/
/*------------------------*/

#services {
  margin: 5rem auto 0 auto;
  /* max-width: 1100px; */
  width: 90vw;
  /* display: flex; */
  /* flex-direction: column; */
}
#services h2 {
  font-size: 2rem;
  color: #292e47;
  margin-bottom: 70px;
}
.grid-container-services {
  /* display: flex;
  flex: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.service-card {
  width: 80%;
  max-width: 340px;
  background-color: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px;
}
.service-card h4 {
  font-size: 1.3rem;
  color: #292e47;
  font-weight: 500;
  margin: 20px 0;
}

.service-card p {
  color: #292e47;
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
}

.service-card a {
  font-size: 1rem;
  /* margin: 30px 40px; */
  display: inline-block;
}
.service-card-icon {
  background-color: #ecf7ff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  /* margin: 2rem; */
  background-image: url("/project-assets/services-section/icons/1.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.icon-2 {
  background-image: url("/project-assets/services-section/icons/2.svg");
}
.icon-3 {
  background-image: url("/project-assets/services-section/icons/3.svg");
}

/*------------------------*/
/*------------------------*/
/* Subscribe section  */
/*------------------------*/
/*------------------------*/

#subscribe {
  height: 450px;
  background-color: #ffc600;
  margin: 5rem auto 0 auto;
  /* width: 1320px; */
  width: 95%;
  /* padding: 30px; */
}
.subscribeContainer {
  height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.subscribeContainer h2 {
  font-size: 2rem;
  color: #292e47;
  margin: 20px 0;
}
.subscribeContainer p {
  font-size: 0.9rem;
  color: #6b708d;
  margin-bottom: 20px;
  /* margin: 0 auto 20px auto; */
}

/*FORM*/
.form-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
#email-subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.subscribe-textfield-wrapper {
  background-color: white;
  /* margin-right: 10px; */
  display: flex;
  width: 240px;
  padding: 10px 0;
}
.subscribe-textfield-wrapper img {
  width: 40px;
  padding: 0px 10px;
}
.subscribe-textfield-wrapper input {
  border: none;
  align-items: center;
}
.subscribeBtn {
  color: #ffff;
  background-color: #072ac8;
  border: none;
  padding: 12px 30px;
}
.subscribeBtn:hover {
  background-color: #292e47;
}

.s-form-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding-left: 10px;
}

.s-form-done {
  background-color: #dddddd;
  margin-top: 10px;
  padding-left: 10px;
  text-align: center;
}
/*------------------------*/
/*------------------------*/
/* footer  */
/*------------------------*/
/*------------------------*/
.containerFooter {
  display: flex;
  justify-content: space-between;
  /* max-width: 1100px; */
  width: 90%;

  margin: 5rem auto 5rem auto;
}

.footerLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-content p,
a {
  font-size: 0.9rem;
  margin-top: 20px;
}

/*------------------------*/
/*------------------------*/
/* Contact Form  */
/*------------------------*/
/*------------------------*/

#contactUs {
  width: 90%;
  margin: 5rem auto 0 auto;
  /* max-width: 1100px; */
}

#contactUs h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #292e47;
  width: 100%;
  padding: 0;
}
.form-contact-container {
  display: flex;
  flex-direction: column;
}
.contact-title {
  font-size: 1.5rem;
  color: #6b708d;
  padding: 20px 0 10px 0;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.contact-text-input {
  background-color: rgba(107, 112, 141, 0.1);
  border: none;
  width: auto;
  height: 50px;
  font-size: 0.9rem;
  padding-left: 20px;
}
.contact-row-grid {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-width: 100%;
}

/* .contact-text-input.row {
  width: 500px;
} */
.contact-text-input.textarea {
  height: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  padding-left: 20px;
  padding-top: 20px;
}
.contact-submit-btn {
  color: #ffff;
  background-color: #072ac8;
  border: none;
  padding: 25px 30px;
  margin-top: 20px;
}
.contact-submit-btn:hover {
  background-color: #292e47;
}

/*--------------------------------------------------------*/
/*-----------------------------------------------------*/
/* Projects Pages */
/*----------------------------------------------------*/
/*-----------------------------------------------------*/

#projectSection {
  margin: 5rem auto 0 auto;
  /* max-width: 1100px; */
  width: 90%;
  display: flex;
  flex-direction: column;
}

.project-page-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #292e47;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.project-type-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.project-page-type {
  font-size: 1.8rem;
  font-weight: 500;
}
.project-completion {
  display: flex;
  font-size: 1.3rem;
}
.project-completion p {
  padding-left: 5px;
}
.project-page-image {
  width: 100%;
  height: 444px;
  object-fit: cover;
  margin: 50px auto;

  box-shadow: 3px 0px 38px 0px rgba(248, 231, 28, 1),
    0px 13px 38px 0px rgba(144, 19, 254, 1);
}
.project-text {
}
.project-text p {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
